.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  padding: 0 4rem;
  height: 10rem;
  box-sizing: border-box;

  @media #{$breakpoint-small} {
    padding: 0 2rem;
  }
}

.header__logo {

  a {
    font-size: 2.6rem;
    font-weight: 900;
    letter-spacing: -3px;
    text-decoration-color: $color-brand-accent;

    &:hover {
      text-decoration: underline;
      text-decoration-color: $color-brand-accent;
    }
  }
}

.header__links {
  display: flex;
  margin-top: 1.5rem;
}

.header__link {
  margin-right: 2rem;

  &:last-of-type {
    margin-right: 0;
  }

  a {
    font-size: 2.6rem;
    letter-spacing: -3px;
    transition: 0.2s color;

    &::after {
      content: ".";
    }
  }
}

.header__link--email a {

  &:hover{
    color: $color-gmail;
  }

  &::after {
    color: $color-gmail;
  }
}

.header__link--github a {

  &:hover{
    color: $color-github;
  }

  &::after {
    color: $color-github;
  }
}

.header__link--linkedin a {

  &:hover{
    color: $color-linkedin;
  }

  &::after {
    color: $color-linkedin;
  }
}

.header__link--twitter a {

  &:hover{
    color: $color-twitter;
  }

  &::after {
    color: $color-twitter;
  }
}