.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  padding: 0 4rem;
  height: 10rem;
  box-sizing: border-box;

  @media #{$breakpoint-small} {
    padding: 0 2rem;
  }
}

.header__logo {

  a {
    font-size: 2.6rem;
    letter-spacing: -3px;
    text-decoration-color: $color-brand-accent;

    &:hover {
      text-decoration: underline;
      text-decoration-color: $color-brand-accent;
    }
  }
}

.header__links {
  display: flex;
  margin-top: 1.5rem;
}

.header__link {

  &:last-of-type {
    img {
      margin-right: 0;
    }
  }

  img {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    border-bottom: 2px solid transparent;

    &:hover {
      border-color: $color-brand-primary;
    }
  }
}