.index__content {
  padding-left: 15%;

  @media #{$breakpoint-medium-small} {
    padding: 0 4rem;
  }

  h1 {
    font-size: 7rem;
    line-height: 1.5;
    letter-spacing: -4px;

    @media #{$breakpoint-small} {
      font-size: 6rem;
    }

    @media #{$breakpoint-extra-small} {
      font-size: 5rem;
    }
  }

  h2 {
    font-family: $font-family-body;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2;

    @media #{$breakpoint-small} {
      font-size: 3.5rem;
    }

    @media #{$breakpoint-extra-small} {
      font-size: 3rem;
    }

    a {
      font-family: $font-family-body;
      font-size: 4rem;
      font-weight: 600;
      line-height: 1.2;

      @media #{$breakpoint-small} {
        font-size: 3.5rem;
      }
  
      @media #{$breakpoint-extra-small} {
        font-size: 3rem;
      }

      &:hover {
        text-decoration: underline;
        text-decoration-color: $color-brand-primary;
      }
    }
  }
}